@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var loginModel = new LoginModel();
    
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@* NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed *@
@Html.RenderJsHere()



	@if (!Members.GetCurrentLoginStatus().IsLoggedIn) {
// display the form
		using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin"))
	{
    	
  			<div class="form-group col-lg-4 col-md-4 col-sm">
        	<legend>Login</legend>
        
        	@Html.ValidationSummary("loginModel", true)

        	@Html.LabelFor(m => loginModel.Username, new { @class = "col-sm-2 control-label" })
        	@Html.TextBoxFor(m => loginModel.Username, new { @class = "form-control" })
        	@Html.ValidationMessageFor(m => loginModel.Username)
        	<br />

        	@Html.LabelFor(m => loginModel.Password, new { @class = "col-sm-2 control-label" })
        	@Html.PasswordFor(m => loginModel.Password, new { @class = "form-control" })
        	@Html.ValidationMessageFor(m => loginModel.Password)
        	<br />

        	<div class="controls">
			        <button class="btn btn-success">Login</button>
			</div>
    	  </div>
	}	
}
else {
	<p>You are currently logged in as @Members.GetCurrentLoginStatus().Name</p>
	
		var logoutModel = new PostRedirectModel();
			logoutModel.RedirectUrl = "/"; 
	using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout")) 
	{ 
		    <div class="controls">
			   <button class="btn btn-success">Log out</button>
			</div>
			@Html.HiddenFor(m => logoutModel.RedirectUrl) 
	}
}